

/* Colores de matriz de riesgo */
.morange{background-color: #FE9A2E !important;}
.mred{background-color: #FF0000 !important;}
.myellow{background-color: #FFD100 !important;}
.mgreen{background-color: #1FDF5F !important;}










